---
import Layout from "../layouts/Layout.astro";
import ListBox from "../components/ListBox.jsx";
import { Divider } from "@nextui-org/react";
import Search from "../components/Search.jsx";
import NextPag from "../components/NextPag.jsx";
import Header from "../components/Header.astro";
import ImagesShower from "../components/ImagesShower.jsx";
import Home from "../components/Home.jsx";

const projectTitle = "Implementation And Formal Verification of " + 
				"a Parallel Algorithm Based on Minimax " +
				"Applied to a Game as a Case Study Using " +
				"Concurrent Processes Algebra and Mcrl2."

const section = "Problem";
const pag = 3;
---

<Layout title={projectTitle}>
  <main>
    <Header />
    <Divider />
    <div class="flex">

      <aside class="hidden sm:block">
        <div class="m-4 h-full">
          <Search client:only />
          <ListBox selectedName={section} client:only />
          <NextPag current={pag} client:only />
		  <Home></Home>
        </div>
      </aside>

	  <div class="m-8 text-5xl">
		<h1>Problem Statement</h1>
        <h1 class="mt-12 text-center">Critical System</h1>
        <div class="flex">
          <div class="mt-12">
            <ImagesShower
              alt="software testing"
              url="public/images/group_critical.svg"
              client:only
            />
          </div>
        </div>
      </div>
	  
	  
	  
      <!-- <div class="flex justify-center items-center h-full">
        <ImagesShower
		  width=750
          alt="Formal Methods"
          url="public/images/critical.svg"
          client:only
        />
      </div> -->
    </div>
  </main>
</Layout>
