---
import Layout from "../layouts/Layout.astro";
import ListBox from "../components/ListBox.jsx";
import { Divider, Button } from "@nextui-org/react";
import Search from "../components/Search.jsx";
import NextPag from "../components/NextPag.jsx";
import Header from "../components/Header.astro";
import Home from "../components/Home.jsx";
import { Code } from "astro-expressive-code/components";

const projectTitle =
  "Implementation And Formal Verification of " +
  "a Parallel Algorithm Based on Minimax " +
  "Applied to a Game as a Case Study Using " +
  "Concurrent Processes Algebra and mCRL2.";

const section = "spec";
const pag = 45;

---

<Layout title={projectTitle}>
  <main>
    <Header />
    <div class="flex">
      <aside class="hidden sm:block">
        <div class="m-4">
          <Search client:only />
          <ListBox selectedName={section} client:only />
          <NextPag current={pag} client:only />
          <Home />
        </div>
      </aside>
      <div class="m-8 w-[75%]">
        <h1 class="text-5xl">
          Game Model LTS
        </h1>
        <Divider />
        <div>
          <div class="flex">
            <div class="w-1/2 m-4 ">
                <h2 class="text-center">2 Levels</h2>
                <Divider></Divider>
                <img src="/public/images/lv2.gif" alt="">
            </div>
            <div class="w-1/2 m-4 ">
                <h2 class="text-center">3 Levels</h2>
                <Divider></Divider>
                <img src="/public/images/lv3.gif" alt="">
            </div>
          </div>
          <br />
        </div>
      </div>

      <style>
        #write {
          max-width: 860px;
          margin: 0 auto;
          padding: 30px;
          padding-bottom: 100px;
        }

        @media only screen and (min-width: 1400px) {
          #write {
            max-width: 1024px;
          }
        }

        @media only screen and (min-width: 1800px) {
          #write {
            max-width: 1200px;
          }
        }

        #write > ul:first-child,
        #write > ol:first-child {
          margin-top: 30px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          position: relative;
          margin-top: 1rem;
          margin-bottom: 1rem;
          font-weight: bold;
          line-height: 1.4;
          cursor: text;
          font-family: var(--display-font) !important;
        }

        h1,
        h2,
        h3,
        h4 {
          color: var(--title-color);
          letter-spacing: -0.04rem;
        }

        h6 {
          margin-top: 0.6rem;
          margin-bottom: 0.2rem;
        }

        h1:hover a.anchor,
        h2:hover a.anchor,
        h3:hover a.anchor,
        h4:hover a.anchor,
        h5:hover a.anchor,
        h6:hover a.anchor {
          text-decoration: none;
        }

        h1 tt,
        h1 code,
        h2 tt,
        h2 code,
        h3 tt,
        h3 code,
        h4 tt,
        h4 code,
        h5 tt,
        h5 code,
        h6 tt,
        h6 code {
          font-size: inherit;
        }

        h1 {
          font-size: 2.25em;
          line-height: 1.2;
        }

        h2 {
          font-size: 1.75em;
          line-height: 1.225;
        }

        h3 {
          font-size: 1.5em;
          line-height: 1.43;
        }

        h4 {
          font-size: 1.25em;
        }

        h5 {
          font-size: 1em;
        }

        h6 {
          font-size: 1em;
          color: #777;
        }

        p,
        blockquote,
        ul,
        ol,
        dl,
        table {
          margin: 0.8em 0;
        }

        h1 code,
        h2 code,
        h3 code,
        h4 code,
        h5 code,
        h6 code {
          border: inherit;
          background-color: inherit;
        }

        hr {
          height: 2px;
          padding: 0;
          margin: 16px 0;
          background-color: #e7e7e7;
          border: 0 none;
          overflow: hidden;
          box-sizing: content-box;
        }

        blockquote {
          color: var(--text-color);
          border: 1px solid var(--border);
          background-color: var(--elevated-background);
          border-radius: 4px;
          padding: 12px 16px;
          overflow: hidden;
          box-sizing: border-box;
        }

        blockquote blockquote {
          padding-right: 0;
        }

        table {
          padding: 0;
          word-break: initial;
        }

        table tr {
          border: 1px solid #dfe2e5;
          margin: 0;
          padding: 0;
        }

        table tr:nth-child(2n),
        thead {
          background-color: #f8f8f8;
        }

        table th {
          font-weight: bold;
          border: 1px solid #dfe2e5;
          border-bottom: 0;
          margin: 0;
          padding: 6px 13px;
        }

        table td {
          border: 1px solid #dfe2e5;
          margin: 0;
          padding: 6px 13px;
        }

        table th:first-child,
        table td:first-child {
          margin-top: 0;
        }

        table th:last-child,
        table td:last-child {
          margin-bottom: 0;
        }

        .CodeMirror-lines {
          padding-left: 4px;
        }

        .code-tooltip {
          border: 1px solid var(--border);
          background-color: var(--elevated-background);
          border-radius: 4px;
          font-family: var(--general-font);
          box-shadow: none !important;
        }

        .md-fences,
        code,
        tt {
          color: var(--text-color);
          border: 1px solid var(--border);
          background-color: var(--elevated-background);
          border-radius: 4px;
          padding: 0;
          padding: 2px 4px 0px 4px;
          font-size: 0.9em;
          font-family: var(--mono);
          font-variant-ligatures: common-ligatures !important;
          font-feature-settings: "liga" 1 !important;
        }

        code {
          background-color: var(--elevated-background);
          padding: 0 2px 0 2px;
        }

        .md-fences {
          margin-bottom: 15px;
          margin-top: 15px;
          padding-top: 8px;
          padding-bottom: 6px;
        }

        .md-task-list-item > input {
          margin-left: -1.3em;
        }

        @media print {
          html {
            font-size: 13px;
          }
          table,
          pre {
            page-break-inside: avoid;
          }
          pre {
            word-wrap: break-word;
          }
          input[type="checkbox"] {
            margin-top: -1px !important;
          }
        }

        #write pre.md-meta-block {
          padding: 1rem;
          font-size: 85%;
          line-height: 1.45;
          background-color: var(--elevated-background);
          border: 0;
          border-radius: 4px;
          color: #777777;
          margin-top: 0 !important;
        }

        .mathjax-block > .code-tooltip {
          bottom: 0.375rem;
        }

        .md-mathjax-midline {
          background: var(--elevated-background);
        }

        #write > h3.md-focus:before {
          left: -1.5625rem;
          top: 0.375rem;
        }

        #write > h4.md-focus:before {
          left: -1.5625rem;
          top: 0.285714286rem;
        }

        #write > h5.md-focus:before {
          left: -1.5625rem;
          top: 0.285714286rem;
        }

        #write > h6.md-focus:before {
          left: -1.5625rem;
          top: 0.285714286rem;
        }

        .md-image > .md-meta {
          border-radius: 4px;
          padding: 2px 0px 0px 4px;
          font-size: 0.9em;
          color: inherit;
        }

        .md-tag {
          color: var(--text-color);
          opacity: 1;
        }

        .md-toc {
          margin-top: 20px;
          padding-bottom: 20px;
        }

        .sidebar-tabs {
          border-bottom: none;
        }

        #typora-quick-open {
          border: 1px solid var(--border);
          background-color: var(--elevated-background);
        }

        #typora-quick-open-item {
          background-color: var(--elevated-background);
          border-color: #fefefe #e5e5e5 #e5e5e5 #eee;
          border-style: solid;
          border-width: 1px;
        }

        /** focus mode */

        .on-focus-mode blockquote {
          border-left-color: rgba(85, 85, 85, 0.12);
        }

        header,
        .context-menu,
        .megamenu-content,
        footer {
          font-family: var(--general-font);
        }

        .file-node-content:hover .file-node-icon,
        .file-node-content:hover .file-node-open-state {
          visibility: visible;
        }

        .mac-seamless-mode #typora-sidebar {
          background-color: var(--elevated-background);
          background-color: var(--side-bar-bg-color);
        }

        .md-lang {
          color: #b4654d;
        }

        #md-notification .btn {
          border: 0;
        }

        .dropdown-menu .divider {
          border-color: #e5e5e5;
          opacity: 0.4;
        }

        .ty-preferences .window-content {
          background-color: var(--elevated-background);
        }

        .ty-preferences .nav-group-item.active {
          color: var(--text-color);
          background: #999;
        }

        .menu-item-container a.menu-style-btn {
          background-color: var(--elevated-background);
          background-image: linear-gradient(
            180deg,
            hsla(0, 0%, 100%, 0.8),
            hsla(0, 0%, 100%, 0)
          );
        }

        .cm-keyword {
          color: var(--color-cm-keyword) !important;
          font-weight: 700 !important;
        }

        .cm-variable {
          color: var(--color-cm-v) !important;
        }

        .cm-tag {
          color: var(--color-cm-keyword) !important;
          font-weight: 700 !important;
        }

        .cm-variable-3,
        .cm-variable-2 {
          color: var(--color-cm-v3) !important;
          font-weight: 700 !important;
        }

        .cm-def {
          color: var(--color-cm-attr) !important;
        }

        .cm-attribute {
          color: var(--color-cm-attr) !important;
        }

        .cm-comment,
        .md-comment,
        .md-meta {
          color: var(--color-cm-comment) !important;
        }

        .cm-string {
          color: var(--color-cm-string) !important;
          font-variant-ligatures: common-ligatures !important;
        }

        .cm-link {
          color: var(--color-cm-link) !important;
        }

        .cm-type {
          color: var(--color-cm-v3);
        }

        .cm-property {
          color: var(--color-cm-v3) !important;
        }

        .cm-tag:not(.cm-bracket) {
          font-weight: 700;
        }

        .cm-operator {
          color: var(--color-cm-operator) !important;
        }

        .cm-number {
          color: var(--color-cm-number) !important;
        }

        .cm-meta {
          color: var(--color-cm-meta) !important;
          font-weight: 700 !important;
        }

        .cm-builtin {
          color: var(--color-cm-builtin) !important;
        }

        a {
          color: var(--text-link);
        }

        span.ty-icon.ty-delete-button::before {
          background-image: var(--dismiss);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
        }

        i.fa.fa-folder-o::before {
          background-image: var(--folder);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
        }

        i.file-node-icon.fa.fa-folder::before {
          background-image: var(--folder);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
        }

        i.file-node-icon.fa.fa-file-text-o::before {
          background-image: var(--document);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
        }

        i.fa.fa-caret-down::before {
          background-image: var(--chevron-down);
          vertical-align: middle;
          content: " ";
          width: 12px;
          height: 12px;
          display: inline-block;
        }

        i.fa.fa-caret-right::before {
          background-image: var(--chevron-right);
          vertical-align: middle;
          content: " ";
          width: 12px;
          height: 12px;
          display: inline-block;
        }

        .file-node-open-state {
          width: 16px;
          text-align: center;
        }

        span.ty-icon.ty-file-tree::before {
          background-image: var(--tree);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
        }

        span.ty-icon.ty-left-arrow::before {
          background-image: var(--arrowleft);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
        }

        span.ty-icon.ty-list::before {
          background-image: var(--navigation);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
        }

        span.ion-ios7-search-strong::before {
          background-image: var(--search);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
        }

        .sidebar-tab-btn,
        span.ion-ios7-search-strong,
        .sidebar-footer-item .footer-btn {
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
          vertical-align: middle !important;
        }

        span.ty-icon.ty-add::before {
          background-image: var(--add);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
          margin-bottom: 2px;
        }

        span.ty-icon.ty-dots-v::before {
          background-image: var(--dots);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
          margin-bottom: 2px;
        }

        span.ty-icon.ty-three-cells::before {
          background-image: var(--cells);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
          margin-bottom: 2px;
        }

        mark {
          border-radius: 4px;
          color: var(--mark-text);
          font-weight: inherit;
          background-color: var(--mark-bg);
          margin-left: 2px;
          margin-right: 2px;
          padding: 0px 4px 2px 4px;
          border-bottom: var(--mark-border);
        }

        del {
          border-radius: 4px;
          color: var(--text-color);
          font-weight: inherit;
          background-color: #88888850;
          margin-left: 2px;
          margin-right: 2px;
          padding: 0px 4px 2px 4px;
          text-decoration-color: var(--text-color);
          opacity: 0.3;
        }

        .sidebar-footer-item {
          height: 100%;
          vertical-align: middle;
          justify-content: center;
        }

        .file-node-background {
          height: 32px;
        }

        .file-library-node.file-tree-node.active > .file-node-content {
          color: white;
        }

        .file-library-node.file-tree-node.active > .file-node-content > i {
          filter: var(--icon-filer);
        }

        .file-library-node.file-tree-node.active > .file-node-background {
          background-color: var(--accent-color);
          border: none;
        }

        .cm-header,
        .cm-header-1 {
          color: var(--title-font) !important;
        }

        .cm-atom {
          color: var(--color-cm-builtin) !important;
        }

        /** Css below might be platform specified **/

        #filesearch-case-option-btn > svg,
        #searchpanel-case-option-btn > svg {
          display: none;
        }

        #filesearch-case-option-btn::before,
        #searchpanel-case-option-btn::before {
          background-image: var(--case);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
        }

        #filesearch-word-option-btn > svg,
        #searchpanel-word-option-btn > svg {
          display: none;
        }

        #filesearch-word-option-btn::before,
        #searchpanel-word-option-btn::before {
          background-image: var(--match);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
        }

        .mac-seamless-mode #md-searchpanel,
        #md-searchpanel {
          box-shadow:
            0 6.4px 14.4px 0 rgb(0 0 0 / 13%),
            0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
          border-bottom: 1px solid var(--border);
          max-height: 72px;
        }

        .mac-seamless-mode #md-searchpanel input,
        #md-searchpanel input {
          height: auto;
        }

        .mac-seamless-mode #md-searchpanel.searchpanel-replace-mode,
        #md-searchpanel.searchpanel-replace-mode {
          max-height: 108px;
        }

        .ion-chevron-up::before {
          background-image: var(--chevron-up);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
        }

        .ion-chevron-down::before {
          background-image: var(--chevron-next);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
        }

        .ion-close-round::before {
          background-image: var(--dismiss);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
        }

        table.md-table {
          border: none !important;
          box-sizing: border-box;
          /* border-radius: 4px; */
          overflow: hidden;
        }

        table {
          border-collapse: separate;
        }

        tbody > tr > td:not(:first-child) {
          box-sizing: border-box;
          border: none;
          border-right: var(--table-border);
          border-bottom: var(--table-border);
        }

        tbody > tr > td:first-child {
          box-sizing: border-box;
          border: none;
          border-bottom: var(--table-border);
          border-left: var(--table-border);
          border-right: var(--table-border);
        }

        tr > th:not(:first-child) {
          box-sizing: border-box;
          border: none;
          border-top: var(--table-border);
          border-right: var(--table-border);
          border-bottom: var(--table-border);
        }

        tr > th:first-child {
          box-sizing: border-box;
          border: var(--table-border);
        }

        tr:first-child > th:first-child {
          border-top-left-radius: 4px;
        }

        tr:first-child > th:last-child {
          border-top-right-radius: 4px;
        }

        tbody > tr:last-child > td:last-child {
          border-bottom-right-radius: 4px;
        }

        tbody > tr:last-child > td:first-child {
          border-bottom-left-radius: 4px;
        }

        table tr:nth-child(2n),
        table thead > tr {
          background-color: var(--elevated-background);
        }

        table tbody tr:nth-child(2n + 1) {
          background-color: var(--bg-color);
        }

        thead:last-child > tr:last-child > th:first-child {
          border-bottom-left-radius: 4px;
        }

        thead:last-child > tr:last-child > th:last-child {
          border-bottom-right-radius: 4px;
        }

        table {
          font-feature-settings: "tnum";
        }

        blockquote > h1:first-child,
        blockquote > h2:first-child,
        blockquote > h3:first-child,
        blockquote > h4:first-child,
        blockquote > h5:first-child,
        blockquote > h6:first-child {
          font: var(--title-font);
          font-weight: 700;
          font-size: inherit !important;
          margin: -12px -16px -8px -16px;
          padding: 12px 16px 8px 16px;
          border-top-right-radius: 4px;
          border-top-left-radius: 4px;
          display: flex;
          align-items: center;
          letter-spacing: auto !important;
        }

        blockquote > h1:first-child {
          color: var(--bookmark-color);
        }

        blockquote > h1:first-child::before {
          background-image: var(--bookmark-filled);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
          margin-right: 4px;
        }

        blockquote > h2:first-child {
          color: var(--star-color);
        }

        blockquote > h2:first-child::before {
          background-image: var(--star-filled);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
          margin-right: 4px;
        }

        blockquote > h3:first-child {
          color: var(--lightbulb-color);
        }

        blockquote > h3:first-child::before {
          background-image: var(--light-bulb-filled);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
          margin-right: 4px;
        }

        blockquote > h4:first-child {
          color: var(--note-color);
        }

        blockquote > h4:first-child::before {
          background-image: var(--note-filled);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
          margin-right: 4px;
        }

        blockquote > h5:first-child {
          color: var(--alert-color);
        }

        blockquote > h5:first-child::before {
          background-image: var(--warn-filled);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
          margin-right: 4px;
        }

        blockquote > h6:first-child {
          color: var(--question-color);
        }

        blockquote > h6:first-child::before {
          background-image: var(--chat-help-filled);
          vertical-align: middle;
          content: " ";
          width: 20px;
          height: 20px;
          display: inline-block;
          margin-right: 4px;
        }
      </style>
    </div>
  </main>
</Layout>
