---
import Layout from '../layouts/Layout.astro';
import  ListBox  from '../components/ListBox.jsx';
import { Divider } from '@nextui-org/react';
import  Search  from '../components/Search.jsx';
import NextPag from '../components/NextPag.jsx';
import Header from '../components/Header.astro';

const projectTitle = "Implementación y verificación formal de un algoritmo paralelo basado \
                        en Minmax aplicado a un juego como caso de estudio usando álgebra de \
                        procesos concurrentes y mCRL2 "

const section = "Resultados"
const pag = 7
---

<Layout title={projectTitle}>
	<main>
		<Header></Header>
		<Divider></Divider>
		<aside class="hidden sm:block">
			<div class="m-4">
				<Search client:only></Search>
				<ListBox selectedName = {section} client:only></ListBox>
				<NextPag current = {pag}></NextPag>
			</div>
		</aside>
		
	</main>
</Layout> 
