---
import Layout from '../layouts/Layout.astro';
import ButtonNextDownload from '../components/ButtonNextDownload.astro';
import ButtonText from '../components/ButtonText.astro';
import Agenda from '../components/Agenda.astro';
import { Divider } from "@nextui-org/react";


const projectTitle = "Implementación y verificación formal \
					de un algoritmo paralelo basado en Minmax \
					aplicado a un juego como caso de estudio \
					usando álgebra de procesos concurrentes \
					y mCRL2 "

const name = "Diego Fernando Escobar Bastidas"
---


<Layout title="Project">
    <main>
		<h1 class="mx-4 text-2xl sm:mx-8 sm:text-3xl md:m-20 md:text-5xl w-full sm:w-3/4 md:w-2/3">Descargar</h1>
    </main>
</Layout>