---
import Layout from '../layouts/Layout.astro';
import ButtonNextDownload from '../components/ButtonNextDownload.astro';
import ButtonText from '../components/ButtonText.astro';
import Agenda from '../components/Agenda.astro';
import { Divider } from "@nextui-org/react";


const projectTitle = "Implementation And Formal Verification of " + 
				"a Parallel Algorithm Based on Minimax " +
				"Applied to a Game as a Case Study Using " +
				"Concurrent Process Algebra and mCRL2."

const name = "Diego Fernando Escobar Bastidas"
---


<Layout title="Project">
    <main class="background-image">
		<h1 class="mx-4 text-2xl sm:mx-8 sm:text-3xl md:mx-28 md:pt-32 md:text-5xl w-full sm:w-3/4 md:w-2/3 ">{projectTitle}</h1>
		<h2 class="mx-4 text-lg sm:mx-8 sm:my-8 sm:text-2xl md:pt-14 md:mx-28 md:w-2/3">{name}</h2>
		
		<div class="m-4 md:m-24 w-full md:w-2/3 flex flex-col items-center justify-between md:flex-row">
		  	<div class="flex flex-col items-center md:flex-row md:space-x-4">
				<a href="https://www.udenar.edu.co/" class="mb-4 md:mb-0">
					<img src="./public/images/udenar.png" class="h-16 w-36 sm:h-16 sm:w-48" alt="Udenar" />
				</a>
				<a href="https://www.udenar.edu.co/" class="mb-4 md:mb-0">
					<img src="./public/images/UdenarLogo2.png" class="h-16 sm:h-20" alt="Galeras.NET" />
				</a>
			</div>
			<a href="/download">
				<ButtonNextDownload></ButtonNextDownload>
			</a>
		</div>
		
		<Divider className='my-20'></Divider>
		<h1 class="mx-4 text-2xl sm:mx-8 sm:text-3xl md:mx-28 md:text-5xl w-full sm:w-3/4 md:w-2/3">Agenda</h1>
		<Agenda></Agenda>
		
		<a href="1">
			<div class="relative m-4 md:mx-28 md:mb-12 md:w-2/3 my">
				  <ButtonText text="Start" url="/Start/"></ButtonText>
			</div>
		</a>
		<Divider></Divider>
		
    </main>
</Layout>

<style>
	.background-image {
		@apply bg-repeat bg-center bg-fixed;
		background-image: url('public/images/back.jpg');
	}
</style>