---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const projectTitle = "Implementación y verificación formal de un algoritmo paralelo basado \
                        en Minmax aplicado a un juego como caso de estudio usando álgebra de \
                        procesos concurrentes y mCRL2 "

---
<Layout title="Project">
    <main>
		<div class="xl:grid xl:grid-cols-5">
			<div class="lg:col-span-1">
				<Header></Header>
			</div>
			<div class="xl:col-span-4 flex-col mx-5 my-5">

				<h1 class="text-5xl mt-10 mb-10" >{projectTitle}</h1>

				<div class="bg-white rounded-lg shadow my-5 ">
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
				</div>

				<Footer></Footer>
				<!-- Aquí va el resto del contenido de la página -->
			</div>
		</div>
    </main>