---
import Item from "./ItemAgenda.jsx";
import { itemsAgenda } from "../../public/js/const";


---
<style>
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Para Safari y Chrome */
  }

  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE y Edge */
    scrollbar-width: none; /* Firefox */
  }
</style>

<div
  class="mx-24 md:w-2/3 my-16 overflow-y-auto scrollbar-hidden bg-transparent p-2"
  style="max-height: 400px;"
>
  {
    itemsAgenda.map((item) => (
      <Item number={item.number} name={item.name} url={item.url} />
    ))
  }
</div>
