---
const {icon} = Astro.props
---


<button class="bg-[#EEF0FF] hover:bg-purple-200 p-5 rounded-xl shadow-sm border-2 border-[#DFDFDF]">
    <img src={icon} class="fill-current w-6 h-8">
</button>
  