---
const {text, icon} = Astro.props
---
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-flex items-center">
    <img src={icon} class="fill-current w-4 h-4 mr-2">
    <span>{text}</span>
  </button>
  