---
import Button from '../components/Button.astro';

---


<footer class="bg-white rounded-lg shadow w-auto max-w-screen-2xl">
  <div class="mx-auto pb-4">
        <div class="sm:flex items-center">
            <a href="https://www.udenar.edu.co/" class="mx-4">
                <img src="/public/images/udenar.png" class="h-32 w-48" alt="Udenar" />
            </a>
            <a href="https://www.udenar.edu.co/" class="mx-4">
                <img src="/public/images/UdenarLogo2.png" class="h-20" alt="Galeras.NET" />
            </a>
            <div class="sm:flex items-center">
               <Button  ></Button>
            </div>
        </div>
        
      <hr class="my-4 border-gray-200 sm:mx-auto" />
      <span class="block text-sm text-center">2024 <a href="https://flowbite.com/" class="hover:underline">Universidad de Nariño</a></span>
  </div>
</footer>

