---
import { Button, Link } from "@nextui-org/react";
import { Download } from '@geist-ui/react-icons';
import { Divider } from "@nextui-org/react";


const projectTitle = "Implementation And Formal Verification of " + 
				"a Parallel Algorithm Based on Minimax " +
				"Applied to a Game as a Case Study Using " +
				"Concurrent Processes Algebra and mCRL2."

---

<div class="flex flex-row items-center   bg-blue-950">
  <h1 class="m-4 text-white">{projectTitle}</h1>
  <!-- <Button as={Link} color="success" href="/download" variant="flat" className="" isIconOnly>
    <Download />
  </Button> -->
</div>
<Divider></Divider>


